#legend .button-2:hover {
    background: #1492c1 !important;
}
#legend .button-2 {
    background: #2ab0e3 !important;
}

.form-div h2{
	text-transform:none !important;
}

.ragister-3{
margin-top:55px;
}