@charset "utf-8";
/* CSS Document */

*{margin:0px; padding:0px;}
 @font-face {
 font-family: proxima;
 src : url(../fonts/proxima.otf);
}

body{font-family:"proxima";}

.navbar-brand{height:auto; padding:40px 15px;}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 18px;
	font-weight:700;
}
.navbar-default {
    background-color: #2ab0e3;
    border-color: #2ab0e3;
	margin: 0px;
}

.form-div{width:100%; float:left; padding:70px 0;}

.form-div h2{text-align: center;
width: 100%;
float: left;
font-size: 50px;}

.form-div h5{text-align: center;
width: 100%;
float: left;
font-size: 25px;
margin-top: 0px;}

.upload-img{width: 204px;
height: 404px;
border: 2px solid #000; margin-top:50px;}

.form-div  form {
    margin-top: 55px;
}


.form-div label {
    font-size: 20px;
    font-weight: normal;
}

.ragister-3 label {
    font-size: 20px;
    font-weight: 700;
}

.ragister-3 label span {
    font-size: 18px;
    font-weight: 700;
}
.form-div .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 24px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;}
	
	.form-div .form-control.height-auto{height:auto;}
	.btn-default {
    color: #fff;
    background-color: #2ab0e3;
    border-color: #2ab0e3;
    font-weight: 700;
    font-size: 24px;
    float: right;
    border-radius: 0px;
    padding: 10px 50px;
}

.color-div{width:100%; float:left; background-color: #2ab0e3; padding:80px 0px;}
.color-div h3{font-size:30px; text-align:center; width:100%; color:#fff; font-weight:700;}
footer{width:100%; float:left; background-color: #2ab0e3;}
.footer-div{width:100%; float:left; padding:50px 0px;}
.link-menu{width:100%; float:left;}
.link-menu ul{width:100%; float:left; padding:0px;}
.link-menu li{list-style: none;
padding: 7px 0;
font-size: 15px;
font-weight: 700;}
.link-menu li a{color:#fff; text-decoration:none;}
.link-menu li a:hover{opcity:0.7;}

.copy-right{width:100%; float:left;}
.copy-right p{width:100%; float:left; text-align:center; color:#fff; margin: 10px 0px; font-size: 16px;}


.con p {
    font-size: 18px;
    margin-top: 23px;
}

.btn-default-button{color:#000; border:2px solid #000;font-weight: 700;
    font-size: 24px;
    float: right;
    border-radius: 0px;
    padding: 10px 50px;}
	
	
	
	.form-divp p{font-size:18px; line-height:24px; margin-bottom:15px;}
	.button-2{width:100%; float:left; margin-top:30px;}
	.button-2 button{padding:10px 30px; border:2px solid #000; background-color:transparent; color:#000; font-size:20px;}
	.button-2 button:hover{border:2px solid #fff; background-color:#2ab0e3; color:#fff;}
	.left-button{float:left;}
	.right-button{float:right;}
	.form-w { 
    padding: 0 0 0 30px;
}
form.form-horizontal{margin-top:20px;}
#legend button {
    width: 100%;
    color: #fff;
    background: #000;
    border: transparent;
    padding: 12px;
    margin: 13px 0 0 0;
    font-size: 16px;
    font-weight: 600;
}
.well {
    min-height: 20px;
    padding: 20px 40px;     background-color: #fff;}
	
	#legend .button-1{background:#3b5998 !important;     border-radius: 5px;}
		#legend .button-2{background:#dc4e41 !important;     border-radius: 5px;}

		
		.link-div {
    width: 100%;
    float: left;
    border-top: 1px solid #ddd;
    margin: 29px 0px;position:relative;
	text-align: center;
}


.link-div span {
    position: absolute;
    top: -11px;
    background: #fff;
    color: #000;
	font-weight: 800;
    font-size: 16px;
}

.controls button {
    width: 100%;
    margin-top: 16px;
background: #2ab0e3;
border: 1px solid #2ab0e3;
padding: 14px 0;
}

.forgot {
    width: 100%;
    float: left;
    margin-top: 15px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.forgot ul{width:100%; float:left; padding:0px 0px 0px 30px; }
.forgot ul li{width:100%; float:left; list-style:none;}
.forgot ul li a{color:#ccc; text-decoration:none;}
.forgot ul li a:hover{color:#f56400;}
.pedding-full{
    width: 100%;
    float: left;
    border-bottom: 1px solid #ccc;
}
.menu2 {
    height: 84px;
    line-height: 84px;
}
.menu2 ul{padding:0px; text-align:right;}
.menu2 ul li {
    padding: 0px;
    list-style: none;
    display: inline-table;
}
.menu2 ul li a {
    color: #000;
    padding: 0px 10px;
}
.menu2 ul li a:hover{}


.center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
	margin-top: 22px;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
 line-height: 1.33;
height: 46px;
font-size: 18px;
padding: 10px 16px 10px 40px;
width: 262px;}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}

.menu-3{width:100%; float:left; margin-top: 22px;}
.menu-3 ul{padding:0px;}
.menu-3 ul li{display:inline-table; list-style:none;}
.menu-3 ul a{display: inline-table;
text-decoration: none;
color: #000;
padding: 8px 16px;
border: 1px solid #ccc;
border-radius: 4px;
float: left;}
.abc a{border-radius: 0px !important;}
.menu-3 ul a input{margin: 4px 0px !important;}
.menu-4 {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px; width:100%; float:left;
}
.menu-4 ul{padding:10px 18px;  width:100%; float:left;}
.menu-4 ul li{list-style:none; width:100%; float:left;}
.menu-4 ul li a{color:#999; text-decoration:none; width:100%; float:left; padding:6px 5px; font-size:14px;}
.menu-4 ul li a:hover{ background:#ccc}
.conver{width:100%; float:left; text-align:center;}
.conver img{width: 170px; opacity: 0.1; margin-top: 40px;}
.menu-4 .form-control{display:none;}
	@media screen and (min-width:200px) and (max-width:768px) {
		
		.navbar-default .navbar-toggle {
    border-color: transparent;}
	.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-brand {
    height: auto;
    padding: 5px 15px;
}
.navbar-brand > img {
    display: block;
    width: 215px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
.form-div {
    width: 100%;
    float: left;
    padding: 20px 0 40px 0;
}
.form-div h2 {
    text-align: center;
    width: 100%;
    float: left;
    font-size: 35px;
}
.col-sm-6.col-xs-offset-3 {
    margin: 0px;
}
.form-div form {
    margin-top: 10px;
}
.footer-div {
    width: 100%;
    float: left;
    padding: 38px 0px 8px 0px;
}
.img-upload-div{text-align:center; width:100%; float:left;}
.img-upload-div .upload-img{margin:0 auto;}
		.ragister-3 {
    float: left;
    margin-top: 60px !important;
}
.color-div {
    width: 100%;
    float: left;
    background-color: #2ab0e3;
    padding: 7px 10px;
}
.form-divp p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
    padding: 0px 20px;
    text-align: justify;
}
.button-2 {
    width: 100%;
    float: left;
    margin-top: 30px;
    padding: 0 10px;
}

.pedding-full h1{display:none;}
.menu-3 ul a {
    padding: 7px 11px;border-radius: 0px;}
	.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 16px;
    width: 100%;
}
.menu-3 {
    width: 100%;
    float: left;
    margin-top: 0px;
}
.menu-4 .form-control{display:block;}
.menu-4 ul{display:none;}
.menu-4 .form-control {
    display: block;
    padding: 0px;
    margin: 0px;
    position: static;
}
		}