@charset "utf-8";
/* CSS Document */

*{margin:0px; padding:0px;}
 @font-face {
 font-family: proxima;
 src : url(../fonts/proxima.otf);
}

body{font-family:"proxima";    background: #f9f9f9;}

input, textarea, button, a, select{outline:none !important;}

.navbar-brand{height:auto; padding:5px 0px;}
.navbar-default .navbar-nav > li > a {
    color: #fff;
         font-size: 14px;
    font-weight: 700;
    padding: 1px 10px;
    margin-bottom: 16px;
}
.navbar-default {
    background-color: #2ab0e3;
    border-color: #2ab0e3;
	margin: 0px;
	border-radius:0px;
}
ul.dropdown-cart{
    min-width:320px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;   
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: transparent;
}

.form-div{width:100%; float:left; padding:0px 0;}

.form-div h2{
	text-align: center;
    width: 100%;
    float: left;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
	padding: 30px 0px;
}

.form-div h5{text-align: center;
width: 100%;
float: left;
font-size: 25px;
    margin-top: 0px;
	    margin-bottom: 40px;
}
.row{margin:0px !important}
.upload-img{
width: 200px;
height: 200px;
margin:0px auto;
}
.upload-img img{
    width: 200px;
    height: 200px;
    margin: 0px auto;
    border: 8px solid #f1f1f1;
    border-radius: 6px;
}

.form-div  form {
    margin-top: 55px;
}


.form-div label {
    font-size: 16px;
    font-weight: normal;
    color: #000;
}

.ragister-3 label {
    font-size: 20px;
    font-weight: 700;
}

.ragister-3 label span {
    font-size: 18px;
    font-weight: 700;
}
.form-div .form-control {
    display: block;
    width: 100%;
    height: 34px;
        padding: 4px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
	}
	
	.form-div .form-control.height-auto{height:auto;}
	.btn-default {
    color: #fff;
    background-color: #2ab0e3;
    border-color: #2ab0e3;
    font-weight: 700;
    font-size: 24px;
    float: right;
    border-radius: 0px;
    padding: 10px 50px;
}

.color-div {
    width: 100%;
    float: left;
    background-color: #015e82;
    padding: 30px 0px;
}
.color-div h3{font-size:30px; text-align:center; width:100%; color:#fff; font-weight:700;}
.color-div h4 {
    color: #eee;
    text-align: center;
    font-size: 20px;
}
.copy-right{width:100%; float:left;}
.copy-right p{width:100%; float:left; text-align:center; color:#fff; margin: 10px 0px; font-size: 16px;}

.con {
    padding: 15px 30px 0;
}
.con p {
    font-size: 15px;
    margin-top: 5px;
    padding:0px;
}
.con strong {
    font-size: 16px;
    font-weight: bold;
    color: #2ab0e3;
}
.btn-default-button{color: #000;
border: 2px solid #000;
font-weight: 700;
font-size: 20px;
float: right;
border-radius: 0px;
padding: 10px 40px;
background: transparent;}
	
	
	
	.form-divp p{font-size:18px; line-height:24px; margin-bottom:15px;}
	.button-2{width:100%; float:left; margin-top:30px;}
	.button-2 button{padding:10px 30px; border:2px solid #000; background-color:transparent; color:#000; font-size:20px;}
	.button-2 button:hover{border:2px solid #fff; background-color:#2ab0e3; color:#fff;}
	.left-button{float:left;}
	.right-button{float:right;}
	.form-w { 
	float:left;
}
form.form-horizontal{margin-top:0px;}
#legend button {
    width: 48%;
    color: #fff;
    background: #000;
    border: transparent;
    padding: 12px;
    margin: 13px 0 0 0;
    font-size: 13px;
	
}
.well {
    min-height: 20px;
    padding: 20px 40px;     
	background-color: #fff;
	}
	
	#legend .button-1{background:#3b5998 !important;margin-left:2%;}
	#legend .button-2{background:#dc4e41 !important;margin-right:2%;}
#legend .button-2:hover {
    background: #bb382c !important;
}
	#legend .button-1:hover {
    background: #274482 !important;
}	
.link-div {
    width: 100%;
    float: left;
    border-top: 1px solid #ddd;
    margin: 45px 0px 20px;
	position:relative;
	text-align: center;
}


.link-div span {
   position: absolute;
    top: -21px;
    background: #fff;
    color: #000;
    font-weight: 800;
    font-size: 16px;
    padding: 10px;
    margin-left: -20px;
}

.controls button {
    width: 100%;
    margin-top: 16px;
background: #2ab0e3;
border: 1px solid #2ab0e3;
padding: 14px 0;
}

.forgot {
   color: #24a2d2;
    font-size: 14px;
}
.forgot ul{width:100%; float:left; padding:0px 0px 0px 30px; }
.forgot ul li{width:100%; float:left; list-style:none;}
.forgot ul li a{color:#ccc; text-decoration:none;}
.forgot ul li a:hover{color:#f56400;}
.pedding-full{
    width: 100%;
    float: left;
    border-bottom: 1px solid #ccc;
}
.menu2 {
    height: 84px;
    line-height: 84px;
}
.menu2 ul{padding:0px; text-align:right;}
.menu2 ul li {
    padding: 0px;
    list-style: none;
    display: inline-table;
}
.menu2 ul li a {
    color: #000;
    padding: 0px 10px;
}
.menu2 ul li a:hover{}


.center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
	margin-top: 22px;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
 line-height: 1.33;
height: 46px;
font-size: 18px;
padding: 10px 16px 10px 40px;
width: 262px;}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}

.menu-3{width:100%; float:left; margin-top: 22px;}
.menu-3 ul{padding:0px;}
.menu-3 ul li{display:inline-table; list-style:none;}
.menu-3 ul a{display: inline-table;
text-decoration: none;
color: #000;
padding: 8px 16px;
border: 1px solid #ccc;
border-radius: 4px;
float: left;}
.abc a{border-radius: 0px !important;}
.menu-3 ul a input{margin: 4px 0px !important;}
.menu-4 {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px; width:100%; float:left;
}
.menu-4 ul{padding:10px 18px;  width:100%; float:left;}
.menu-4 ul li{list-style:none; width:100%; float:left;}
.menu-4 ul li a{color:#999; text-decoration:none; width:100%; float:left; padding:6px 5px; font-size:14px;}
.menu-4 ul li a:hover{ background:#ccc}
.conver{width:100%; float:left; text-align:center;}
.conver img{width: 170px; opacity: 0.1; margin-top: 40px;}
.menu-4 .form-control{display:none;}
	@media screen and (min-width:200px) and (max-width:768px) {
		
		.navbar-default .navbar-toggle {
    border-color: transparent;}
	.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.m50{margin:20px 0px !important;}
.p50{padding:10px !important;}
.navbar-brand {
    height: auto;
    padding: 5px 15px;
}
.navbar-brand > img {
    display: block;
    width: 215px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
.form-div {
    width: 100%;
    float: left;
    padding: 20px 0 40px 0;
}
.form-div h2 {
    text-align: center;
    width: 100%;
    float: left;
    font-size: 24px !important;
	    padding: 0px 0 10px !important;
}
.loginMain {
    width: 100% !important;
    margin: 0px auto 50px;
    border: 1px solid #eaeaea;
    padding: 30px 20px 40px;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    background: #fff;
}
.text1 {
    margin: 0px 5px 20px !important;
    width: 100% !important;
    display: block !important;
    border: none !important;
    padding: 10px 0 !important;
    border-bottom: solid 1px #e0e0e0 !important;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(96%, rgba(255, 255, 255, 0)), color-stop(3%, #2ab0e3));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #2ab0e3 3%);
    background-position: -400px 0;
    background-size: 400px 100%;
    background-repeat: no-repeat;
    color: #0e6252;
    font-size: 14px !important;
}
.color-div h3 {
    font-size: 24px !important;
}
.box6 {
    background: #fff !important;
    padding: 20px 0px !important;
    border: 1px solid #e6e6e6 !important;
    overflow: hidden !important;
    margin-top: 30px !important;
    float: left !important;
    width: 100% !important;
    text-align: center !important;
}
.carousel-caption,.carousel-control{display:none;}
.carousel-indicators {
    bottom: -14px !important;
}
.headding1 {
    font-size: 20px !important;
    padding: 20px 0 !important;
}
.box2 {
    margin-bottom: 15px !important;
}
.box3 {
    text-align: center !important;
}
.user-profile{margin:0px auto;}
.news-lat .input-group input {
    width: 70% !important;
    float: left !important;
    height: 40px !important;
    padding: 8px;
}
.news-lat .input-group button {
    width: 30% !important;
    float: left !important;
    height: 40px !important;
    padding: 8px;
}
.news-lat {
    padding: 30px 0px !important;
}
.howItBox h3{display:none;}
.howItWork {
    clear: both;
    width: 90% !important;
    margin: 20px auto !important;
    text-align: center;
    background: #fff;
    padding: 12px 20px !important;
    border: 1px solid #e6e6e6;
}
.howItWork h3 {
    clear: both;
    width: 100%;
    margin: 20px auto !important;
    text-align: center;
    font-size: 18px !important;
    line-height: 25px;
}
.howItWork h2 {
    width: 80px !important;
    height: 80px !important;
    margin: 0px auto !important;
    padding: 0 !important;
    background: #ffffff;
    border-radius: 50%;
    border: 5px solid #2ab0e3 !important;
    font-size: 38px !important;
    text-align: center;
    line-height: 75px !important;
    font-weight: bold;
}
.pro-price {
    float: left;
}
.userprice1 {
    font-size: 24px !important;
    font-weight: bold;
    color: #e35d2a;
    margin-top: 6px !important;
    text-align: left !important;
}
.con {
    padding: 15px 0px;
    border-bottom: 1px solid #eee;
    width: 100%;
    float: left;
}
.userName {
    width: 100%;
    float: left;
    margin-bottom: 10px !important;
    margin-top: 30px !important;
}
.text2,.text3 {
    margin: 15px 0px 30px !important;
    width: 100% !important;
    display: block
	}
	.single {
    padding: 20px 15px !important;
    margin-bottom: 20px !important;
    background: #fff !important;
    border: 1px solid #e6e6e6;
    float: left !important;
    width: 100% !important;
    margin-left: 7px !important;
}
	
.plans-box {
    width: 100% !important;
}
.reamber {
    padding: 0 !important;
    margin: 0 !important;
}
.single h3.side-title:after {
    width: 100% !important;
}
.col-sm-6.col-xs-offset-3 {
    margin: 0px;
}
.form-div form {
    margin-top: 10px;
}
.footer-div {
    width: 100%;
    float: left;
    padding: 38px 0px 8px 0px;
}
.img-upload-div{text-align:center; width:100%; float:left;}
.img-upload-div .upload-img{margin:0 auto;}
		.ragister-3 {
    float: left;
    margin-top: 60px !important;
}
.color-div {
    width: 100%;
    float: left;
    padding: 7px 10px;
}
.form-divp p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
    padding: 0px 20px;
    text-align: justify;
}
.button-2 {
    width: 100%;
    float: left;
    margin-top: 30px;
    padding: 0 10px;
}

.pedding-full h1{display:none;}
.menu-3 ul a {
    padding: 7px 11px;border-radius: 0px;}
	.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 16px;
    width: 100%;
}
.menu-3 {
    width: 100%;
    float: left;
    margin-top: 0px;
}
.menu-4 .form-control{display:block;}
.menu-4 ul{display:none;}
.menu-4 .form-control {
    display: block;
    padding: 0px;
    margin: 0px;
    position: static;
}
		}
		
		
		.professionals {
	width:100%;
	float:left;
	padding: 40px 0px 0px 0px;
}
.professionals h2 {
	width: 100%;
	float: left;
	margin: 30px 0px 60px 0px;
	font-size: 32px;
	font-weight: 600;
	text-align: center;
	color:#666;
	    padding: 0 15px;
}
.box-div {
	border-bottom:2px solid #ccc;
	border-top:2px solid #ccc;
	float:left;
	width:100%;
}

.button-class {
	width:100%;
	float:left;
	text-align:center;
}
.button {
	background: #fff;
	border: 2px solid #ccc;
	padding: 11px 16px;
	font-size: 15px;
	font-weight: 600;
	color: #ccc;
	position: relative;
	top: -25px;
}
.img-detail {
	width:100%;
}
.img-detail h4 {
	font-size: 15px;
	    font-weight: 700;
	color: #535353;
	margin: 5px 0px;
	padding-left:5px;
}
.img-detail h4 i {
	color:#ffd103;
}
.img-detail h4 span {
	color:#ffd103;
	font-size:13px;
}
.img-detail h4 span i {
	color:#ffd103;
}
.box-div-class {
	border-top:0px;
}
.thumbnail {
	display: block;
	padding: 0px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 4px solid #ccc;
}
.carousel-inner .thumbnail img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}
.carousel-inner .thumbnail:hover img {
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
	filter: grayscale(0%);
}
a {
	color: #a46919;
	text-decoration: none;
}


.slider-div{width:100%; float:left;}
.slider-div .carousel {
    margin: 0px;
}


.slider-div .carousel-control.right{right:0px;}
.slider-div .carousel-control.left{left:0px;}
.slider-div .carousel-indicators {
    right: 50%;
    top: auto;
    bottom:20px;
    margin-right: 0px;
}
.carousel-caption{text-align:center; top: 25%;}
.carousel-caption h2{font-size:45px;  font-weight:700; margin: 13px 0px;}
.carousel-caption p{font-size:20px;  font-weight:700; margin:0px;}
.carousel-caption h3{ font-size:35px; font-weight:700; margin: 13px 0px;}
.slider-bu {
    padding: 10px 57px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 50px;
    border: 0px;
    background: transparent;
    color: #fff;
}
.s-left{background:#2ab0e3;}
.s-right{background:#087fad;}
#imaginary_container{
    margin-top:20%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.testimonials{width:100%;height:60vh;float:left;}

/* carousel */
#quote-carousel {
  padding: 0 10px 30px 10px;
  text-align:center;
}
/* indicator position */
#quote-carousel .carousel-indicators {
    position: absolute;
    right: 50%;
    top: auto;
    bottom:-10px;
    margin-right: -62px;
}
/* indicator color */
#quote-carousel .carousel-indicators li {
  background: #c0c0c0;
}
/* active indicator */
#quote-carousel .carousel-indicators .active {
  background: #333333;
  height:10px;
  width:10px;
  margin-bottom:1px;
}
.testimonials h2{
    padding-top: 100px; 
    width: 100%;
    float: left;
    text-align: center;
	font-size: 30px;
    font-weight: 700;
	color:#000;
	text-transform: uppercase;

}
.testimonials p{padding-top:25px;color:#000;}
.testimonials strong{color:#000;}
.testimonials  .carousel-inner .item{min-height:150px !important;}

.testimonials1 {
    background: #f3f3f3;
    margin-top: -3px;
	float:left;
	width:100%;
}
.news-lat{}
.news-lat .input-group {
    margin: 20px auto;
    width: 100%;
}
.news-lat input.btn.btn-lg,
.news-lat input.btn.btn-lg:focus {
    outline: none;
    width: 75%;
    height: 60px;
	float:left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.news-lat button.btn {
    width: 24%;
    float: left;
    height: 60px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #2ab0e3;
    border: 1px solid #1ca4d8;
}
.news-lat{width: 100%;
float: left;
padding: 85px 0 74px 0;
background: #c0eeff;
}
.news-lat .promise {
    color: #999;
}
.news-lat h2{margin:0px 0px 30px 0px; font-size:30px; text-align:center; color:#000;}
#imaginary_container input {
    border-radius: 0px;
    height: 40px;}
	.nav.navbar-nav.navbar-right .col-sm-12{padding:0px;}
	.form-div .form-group {
    margin-bottom: 23px;
}
@media only screen and (max-width: 768px) and (min-width: 240px){

.testimonials {
    width: 100%;
    height: auto;
    float: left;
}
.news-lat input.btn.btn-lg, .news-lat input.btn.btn-lg:focus{width:100%;   border-radius: 0px;
}
.news-lat button.btn{width:100%;   border-radius: 0px;
}
.col-sm-8.col-xs-offset-2 {
    margin: 0px;
}
	}
	
	
	
	
	
/*****************************************************New-CSS****************************************************************************/
header {
    background: #2ab0e3;
    padding: 11px;
}

	
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: transparent;
}	

	
.loginMain {
    width: 450px;
    margin: 0px auto 50px;
    border: 1px solid #eaeaea;
    padding: 30px 20px 40px;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
	background:#fff;
}
.profile-box {
    float: left;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
	background:#fff;
	margin: 0px auto 50px;
	padding:40px 0;
}



.text1::-webkit-input-placeholder, button {
  font-family: 'roboto', sans-serif;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.login-btn{
width: 140px;
    margin-top: 20px;
    background: #2ab0e3;
    padding: 10px 0;
    border-radius: 20px;
}
.login-btn:hover {
    background: #1492c1;
}
.upload-btn{
width: 108px;
    margin-top: 20px;
    background: #2ae38e;
    padding: 7px 0;
    border-radius: 20px;
}
.upload-btn:hover {
    background: #18b36c;
}
.back-btn{
width: 108px;
    margin-top: 20px;
    background: #e35d2a;
    padding: 7px 0;
    border-radius: 20px;
}
.back-btn:hover {
    background: #bd4112;
}

.text1 {
      margin: 15px 45px 30px;
    width: 320px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #e0e0e0;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(96%, rgba(255, 255, 255, 0)), color-stop(3%, #2ab0e3));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #2ab0e3 3%);
  background-position: -400px 0;
  background-size: 400px 100%;
  background-repeat: no-repeat;
  color: #0e6252;
  font-size:16px;
}
.text1:focus, .text1:valid {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  background-position: 0 0;
}
.text1:focus::-webkit-input-placeholder, .text1:valid::-webkit-input-placeholder {
  color: #2ab0e3;
  font-size: 12px;
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
  visibility: visible !important;
}

.text2 {
      margin: 15px 45px 30px;
    width: 320px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #e0e0e0;
  color: #0e6252;
  font-size:16px;
}

.text3 {
  margin: 15px 45px 30px;
  width: 320px;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #e0e0e0;
  color: #0e6252;
  font-size:16px;
}
.reamber {
    padding: 0px 45px;
    margin: 0;
}
.reamber label {
    font-size:16px !important;
}
.float-left{float:left;}
.float-right{float:right;}
.p0{padding:0px !important}
.p50{padding:50px;}
.m50{margin:50px ;}
.m0{margin:0px !important;}
.m-top40{margin-top:40px !important;}
.form-control:focus {
    -webkit-box-shadow:none !important;
    box-shadow: none !important;
}
.footer1 {
         background: #2ab0e3;
    padding-top: 40px;
    padding-right: 0;
    padding-bottom: 20px;
    clear: both;
}
.footerp,.footerp a {
    font-size: 14px;
	color:#f1f1f1;
}


.title-widget {
	    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    position: relative;
    text-transform: capitalize;
    font-family: 'Fjalla One', sans-serif;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 15px;
    margin-left: 0;
    padding-left: 0;
}


.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}


.widget_nav_menu ul li {
    font-size: 12px;
    line-height: 20px;
    position: relative;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(241, 241, 241, 0);
    margin-bottom: 0;
    padding-bottom: 0;
    width: 95%;
    font-weight: normal;
}

.widget_nav_menu ul li a {
        color: #f1f1f1;
    font-size: 14px;
    text-transform: capitalize;
    padding: 3px 0;
    float: left;
    width: 100%;
}

.title-median {
    color: #636363;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
}
.footerp p {font-family: 'Gudea', sans-serif; }
#social:hover {
    			-webkit-transform:scale(1.1); 
-moz-transform:scale(1.1); 
-o-transform:scale(1.1); 
}
#social {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    font-size: 26px !important;
    color: #ffffff;
    -o-transition-duration: 0.5s;
}        
.social-fb:hover {
	color: #3B5998;
}
.social-tw:hover {
	color: #4099FF;
}
.social-gp:hover {
	color: #d34836;
}
.social-em:hover {
	color: #f39c12;
}
.nomargin { margin:0px; padding:0px;}
.agileinfo_footer_bottom1 {
    padding: 0 4em;
    margin: 0 auto;
    text-align: center;
}
.footer-w3ls {
    padding: 4px 0;
    background: #015e82;
    line-height: 40px;
    color: #fff;
    text-align: center;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}

.search-box input{
        padding: 5px 10px;
    width: 230px;
    border-radius: 5px 0px 0 5px;
    border: none;
    height: 35px;
    margin-top: 1px;
}

.searchBtn {
    height: 35px;
    width: 35px;
    background: #015e82;
    border: none;
    margin-left: -5px;
	border-radius: 0px 5px 5px 0px;
}

.navbar-default .navbar-nav > li > a .fa {
    padding: 0px 5px;
}

.carousel .glyphicon {
    top: 40%!important;
    font-size: 20px;
    color: #000;
    box-shadow: 1px 2px 10px -1px rgba(0,0,0,.3);
    background-color: rgba(255,255,255,.98);
    padding: 20px 5px;
}

.glyphicon-menu-left {
    border-radius: 0 5px 5px 0;
}
.glyphicon-menu-right {
    border-radius: 5px 0 0 5px;
}
.carousel-indicators .active {
    background-color: #2ab0e3;
}

.cart-btn {
    border-left: 1px solid #70d1f5;
	padding: 30px 0px;
}

.headding1 {
    width: 100%;
    text-align: center;
    font-size: 32px;
	    padding: 40px 0;

}
.headding1 {
    width: 100%;
    text-align: center;
    font-size: 32px;
    padding: 40px 0;
    color: #0e5e84;
    font-weight: bold;
	    text-transform: uppercase;
}

.ListingBox {

    padding: 0 0 40px;
}
.box1 {
    background: #fff;
    padding: 0px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.28);
	text-align:center;
}
.card-text {
    padding: 25px 0;
}
.card-title {
    position: relative;
    top: -30%;
    text-align: center;
    width: 100%;
    color: #ffffff;
    font-size: 22px;
    padding: 14px 0px;
    margin: 0;
    font-weight: bold;
    margin-top: -52px;
    background: #00000057;
}

.box1 {
    background: #fff !important;
    padding: 0px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.28); 
    text-align: center;
    background: #f3fcff;
}

.user-profile {
    width: 150px;
    height: 150px;
    margin: 0px;
    padding: 10px;
    background: #f0fbff;
    border-radius: 50%;
}

.user-profile1 {
    width: 120px;
    height: 120px;
    margin: 0px;
    padding: 5px;
    background: #f0fbff;
}

.ListingBox1{
background:#c0eeff;
    padding: 0 0 40px;

}
.box2 {
    background: #fff;
    padding: 20px 0px;
    text-align: center;
    border-radius: 7px;
    border: 1px solid #87cde6;
}

.box6 {
    background: #fff;
    padding: 20px 0px;
    border: 1px solid #e6e6e6;
    overflow: hidden;
	margin-top:30px;
}

.rating-block .fa {
    color: #2ab0e3;
}

.rating-block {
    padding: 13px 0 0;
	background:#fff;
	padding:5px;
}

.card-body1 {
    margin-top: 10px;
}
.username {
    font-size: 18px;
    font-weight: bold;
    color: #000;
	margin:0px;
}

.usertitle {
    font-size: 14px;
	font-style:italic;
    color: #000;

}

.userprice {
    font-size: 18px;
    font-weight: bold;
    color: #000;
}
.userprice1 {
    font-size: 24px;
    font-weight: bold;
    color: #e35d2a;
    margin-top: 46px;
}

.ListingBox2{
background:#f9f9f9;
    padding: 0 0 40px;

}

.box3 {
    background: #fff;
    padding: 20px 0px;
    border: 1px solid #e6e6e6;
    overflow: hidden;
}


.ListingBox3{
background:#c0eeff;
    padding: 0 0 40px;

}


.box4 {
    background: #fff;
    padding: 20px 0px;
    border: 1px solid #e6e6e6;
    overflow: hidden;
		text-align:center;
}

.ListingBox4{
background:#fff;
    padding: 0 0 40px;
	text-align:center;
}

.ListingBox4 p {
    font-size: 18px;
    width: 70%;
    margin: 0px auto;
}
.ListingBox4 p .fa {
    font-size: 24px;
    color: #2ab0e3;
}

.ListingBox4 p span {
    width: 100%;
    float: left;
    font-size: 24px;
    font-weight: bold;
    color: #3c4244;
    font-style: italic;
    background: #e8faff;
    margin: 20px 0;
    padding: 10px;
}


button {
    border: none;
    color: #fff;
}

.navbar-nav > li > .dropdown-menu .fa {
    padding: 0px 5px 0 0;
    color: #2ab0e3;
}
.howItBox {
    position: relative;
}
.howItBox img {
    position: relative;
	width:100%;
}
.howItBox h3 {
    position: absolute;
    bottom: -10px;
    line-height: 36px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    background: #00000061;
    width: 100%;
    padding: 30px 60px;
    font-weight: bold;
}

.howItWork {
    clear: both;
    width: 70%;
    margin: 40px auto 20px;
    text-align: center;
    background: #fff;
    padding: 12px 20px;
    border: 1px solid #e6e6e6;
}

.howItWork h2 {
    width: 100px;
    height: 100px;
    margin: 0px auto;
    padding: 0;
    background: #ffffff;
    border-radius: 50%;
    border: 8px solid #2ab0e3;
    font-size: 54px;
    text-align: center;
    line-height: 93px;
    font-weight: bold;
}
.howItWork h3 {
    clear: both;
    width: 100%;
    margin: 40px auto 20px;
    text-align: center;
}

.howstep{text-align:center;}

.howstep .glyphicon {
    font-size: 24px;
    color: #015e82;
}


.single {
padding: 20px 15px;
margin-bottom: 20px;
background: #fff;
border: 1px solid #e6e6e6; }

.single h3.side-title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 16px;
    color: #2ab0e3;
    text-transform: uppercase;
    font-weight: bold;
}

.single h3.side-title:after {
    content: '';
    width: 80px;
    height: 1px;
    background: #2ab0e3;
    display: block;
    margin-top: 6px;
}

.single ul {
margin-bottom: 0; }
.single li a {
color: #666;
font-size: 14px;
text-transform: uppercase;
border-bottom: 1px solid #f0f0f0;
line-height: 40px;
display: block;
text-decoration: none; }
.single li a:hover {
color: #2ab0e3; }
.single li:last-child a {
border-bottom: 0; }


.paddingleft0{padding-left:0px;}
.contactUs{clear:both;}

.the-price
{
    background-color: rgba(220,220,220,.17);
    box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;
    padding: 20px;
    margin: 0;
}

.the-price h1
{
    line-height: 1em;
    padding: 0;
    margin: 0;
}

.subscript
{
    font-size: 25px;
}

/* CSS-only ribbon styles    */
.cnrflash
{
    /*Position correctly within container*/
    position: absolute;
    top: -9px;
    right: 4px;
    z-index: 1; /*Set overflow to hidden, to mask inner square*/
    overflow: hidden; /*Set size and add subtle rounding  		to soften edges*/
    width: 100px;
    height: 100px;
    border-radius: 3px 5px 3px 0;
}
.cnrflash-inner
{
    /*Set position, make larger then 			container and rotate 45 degrees*/
    position: absolute;
    bottom: 0;
    right: 0;
    width: 145px;
    height: 145px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -o-transform: rotate(45deg); /* Opera */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari and Chrome */
    -webkit-transform-origin: 100% 100%; /*Purely decorative effects to add texture and stuff*/ /* Safari and Chrome */
    -ms-transform-origin: 100% 100%;  /* IE 9 */
    -o-transform-origin: 100% 100%; /* Opera */
    -moz-transform-origin: 100% 100%; /* Firefox */
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1,1,1,.2) 50%);
    background-size: 4px,auto, auto,auto;
    background-color: #aa0101;
    box-shadow: 0 3px 3px 0 rgba(1,1,1,.5), 0 1px 0 0 rgba(1,1,1,.5), inset 0 -1px 8px 0 rgba(255,255,255,.3), inset 0 -1px 0 0 rgba(255,255,255,.2);
}
.cnrflash-inner:before, .cnrflash-inner:after
{
    /*Use the border triangle trick to make  				it look like the ribbon wraps round it's 				container*/
    content: " ";
    display: block;
    position: absolute;
    bottom: -16px;
    width: 0;
    height: 0;
    border: 8px solid #800000;
}
.cnrflash-inner:before
{
    left: 1px;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.cnrflash-inner:after
{
    right: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.cnrflash-label
{
    /*Make the label look nice*/
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    padding-bottom: 5px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(1,1,1,.8);
    font-size: 0.95em;
    font-weight: bold;
    text-align: center;
}
.panel
{
    text-align: center;
}
.panel:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35); }
.panel-body
{
    padding: 0px;
    text-align: center;
}

.pricing-Box {
    padding: 50px 10px;
    overflow: hidden;
}

.panel-primary > .panel-heading {
    color: #fff;
        background-color: #2b2b2b;
    border-color: #337ab7;
}

.pricing-Box .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 22px;
    color: inherit;
}

.pricing-Box .table {margin-bottom:0px;}
.plans-box {
    width: 80%;
    margin: 0px auto;
}


.privacy {
    padding: 50px 0;
    clear: both;
}
.userName{ width:100%; float:left; margin-bottom:10px;}
.userName p {
        font-size: 25px;
    font-weight: bold;
    margin: 0px 30px 0 0;
    float: left;
}
.UserPost {
}

.UserPost {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    font-size: 18px;
    font-style: italic;
    color: #afafaf;
}
.UserPost a {
    color: #2ab0e3;
}

.profile-boxNew {
    background: #fbfbfb !important;
    overflow: hidden;
    margin: 30px 0 0;
    float: left;
    border: 1px solid #ccc;
    padding: 0 0 20px;
}

.divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis 
{
    border-top: 4px solid transparent;
    }
.emphasis:hover 
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0;
    }
span.tags 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
	
	.text-left{text-align:left !important}
	
	
	.profile-social {
	overflow: auto;
}

.profile-social li {
	list-style-type: none;
	float: left;
}

.profile-social li a i {
    background: #656565;
    color: #fff;
    width: 26px;
    height: 27px;
    font-size: 16px;
    text-align: center;
    margin-right: 10px;
    padding-top: 15%;
    margin-top: 10px;
    border-radius: 3px;
}

.pro-price select {
    padding: 4px 10px;
	height: 30px;
}

.pro-price .login-btn1 {
    width: 70px;
    margin-top: 10px;
    background: #2ab0e3;
    padding: 5px 0;
    height: 30px;
}

.con1 {
    padding: 15px 0px;
    float: left;
    width: 100%;
}
.con1 strong {
    font-size: 16px;
    font-weight: bold;
    color: #2ab0e3;
	width:100%;
	overflow:hidden;
	float:left;
}
.con1 p {
    font-size: 15px;
    margin-top: 5px;
    padding: 0px;
}